@import '../variables';
$backcolor: rgba(map-get($accent, default),.4);
$contrast: map-get($accent, "default-contrast");
$foreground: map-get($theme, foreground);

md-sidenav {
  md-nav-list {
    a.active > div.md-list-item {
      background: $backcolor;
      color: $contrast;
    }
  }
}

ul.bodynav {

  li {
    display: inline-block;
    margin-right: 4px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;

    a, a:active, a:visited {
      color: md-color($foreground, base);
      text-decoration: none;
      padding: 4px;
      border-radius: 2px;

      &.active {
        color: map-get($accent, default);
      }

      &:hover {
        color: map-get($accent, 'default-contrast');
        background: $backcolor;
        transition: all 200ms ease-in-out;
      }

      md-icon {
        vertical-align: sub;
      }
    }

  }

}
